name: Wrokflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.9
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml

    - name: Run MLflow Project
      shell: bash -l {0}
      run: mlflow run MLProject

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Login Docker Hub
      shell: bash -l {0}
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
           -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker Image with MLflow
      shell: bash -l {0}
      run: |
        RUN_ID=$(ls mlruns/*/*/meta.yaml | head -n 1 | awk -F/ '{print $(NF-1)}')
        EXP_ID=$(ls mlruns/* | head -n 1 | awk -F/ '{print $NF}')

        mlflow models build-docker \
          -m "runs:/$EXP_ID/$RUN_ID/model" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-model
