name: workflow-ci

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      run: mlflow run MLProject --env-manager=local

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | \
        docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker Image with MLflow
      shell: bash
      run: |
        # ambil run_id terakhir
        RUN_ID=$(ls -d mlruns/*/* | sort | tail -n 1)
    
        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-model

