name: workflow-ci

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: 3.9
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      run: mlflow run MLProject

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Login Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
           -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker Image with MLflow
      shell: bash -l {0}
      run: |
        EXP_ID=$(ls mlruns | head -n 1)
        RUN_ID=$(ls mlruns/$EXP_ID | head -n 1)
    
        mlflow models build-docker \
          -m "runs:/$EXP_ID/$RUN_ID/model" \
          -n ${{ secrets.DOCKER_USERNAME }}/mlflow-model

