name: workflow-ci

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow

    - name: Run MLflow Project
      working-directory: MLProject
      run: python modelling.py
      
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns

    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build Docker Image from MLflow model
      shell: bash
      run: |
        cd MLProject
        # Ambil run_id terakhir jika perlu otomatis
        RUN_ID="749601595699638139"
        MODEL_PATH="mlruns/$RUN_ID/models/m-3ef6d2b0188d4441b7ca5e0e3d8c73f8"
        mlflow models build-docker -m "$MODEL_PATH" -n bbc-mlflow
    
    - name: Tag Docker Image
      run: |
        docker tag bbc-mlflow:latest ${{ secrets.DOCKER_USERNAME }}/bbc-mlflow:latest
    
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/bbc-mlflow:latest
