name: MLflow CI Retraining

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false
      
      - name: Run MLflow Project (Training)
        shell: bash -l {0}
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI=file:${GITHUB_WORKSPACE}/mlruns
          mlflow run . --env-manager=local | tee output.log

      - name: Debug mlruns
        run: |
          tree mlruns -L 4 || find mlruns -maxdepth 4 -type d

      - name: Get latest MLflow Model URI
        shell: bash -l {0}
        run: |
          cd MLProject
      
          MODEL_DIR=$(ls -td mlruns/0/models/* | head -1)
          MODEL_NAME=$(basename $MODEL_DIR)
      
          echo "MODEL_URI=models:/$MODEL_NAME" >> $GITHUB_ENV
          echo "Detected MODEL_URI=models:/$MODEL_NAME"

      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns

      - name: Build Docker Image from MLflow Model
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow models build-docker \
            -m "$MODEL_URI" \
            -n abalone-mlflow

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker tag abalone-mlflow:latest \
            ${{ secrets.DOCKER_USERNAME }}/abalone-mlflow:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/abalone-mlflow:latest
